article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    height: auto
}

/* font */
h2 {
    font-family: 'Marcellus SC', serif;
    font-size: 24px;
    margin: 10px 0 10px 0
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.9
}



/* Header
-----------------------------------------------------------------------------*/
/* Dotted red border */


header {
    position: relative;
    height: auto;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
#logo{
    position: absolute;
    width: 130px;
    padding 0 0 0 0;
    }




@media (pointer: coarse) and (hover: none) {
    header {
        background: url;
    }

    header video {
        display: none;
    }
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    right: 1%;
    top: 1%;
    z-index: 5
}

header li {
    float: right;
}

header li a {
    display: block;
    color: black;
    text-align: center;
    padding: 39px 39px;
    text-decoration: none;
    font-size: 11px
}

header li a:hover {
    text-decoration: none;
    font-size: ;
    color: orangered;
    transition: 0.3s
}


.hexagon {
    width: 65px
}

.hexagon:hover {
    width: 80px;
    transition: 0.2s
}

#hex1 {
    position: absolute;
    right: 0.1px;
    top: -2px
}

#hex2 {
    position: absolute;
    right: 70.5px;
    top: -2px
}

#hex3 {
    position: absolute;
    right: 140.5px;
    top: -2px
}

#hex4 {
    position: absolute;
    right: 211px;
    top: -2px
}

#hex5 {
    position: absolute;
    right: 282px;
    top: -2px
}



/* Middle
-----------------------------------------------------------------------------*/
.content {}

#citat {
    background-color: #269AB7;
    height: 140px;
}

#textbox {
    padding: 50px 0 0 0
}

#citat #textbox h2 {
    text-align: center;
    font-size: 30px;
}

#citat #textbox p {
    text-align: center;
    padding: 8px 0 0 423px;
}

#spil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width 33%;
}

#flexcontainerinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px
}

.flexelement p {
    margin-left: 8%;
    margin-right: 8%;
}

#flexinfo1 {
    width: 33.3%;
    text-align: center
}

#flexinfo2 {
    width: 33.3%;
    text-align: center
}

#flexinfo3 {
    width: 33.3%;
    text-align: center
}

#flexinfo4 {
    width: 33.3%;
    text-align: center;
    margin: 30px 0 0 0
}

.flexpic {
    width: 70px;
    margin-left: 0%;

}


#historie {
    background-color: #297AB7;
}

#flexpremis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#flexpremis2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center
}

#premisbox {
    width: 20%
}

.gon {
    width: 400px;

}

.gon2 {
    width: 400px;
    padding: 0 0 0 0%
}

#premismiddle {
    width: 20%
}
#middle{width: 14%}

#premis {
    text-align: center;
    width: 30%;
    padding: 0 0 0 0;

}

#premis2 {
    text-align: center;
    width: 25%;
    margin: 0 0 0 0%
}

#flexkob {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
}
#actscutout{width: 250px;
margin: 0 0 20px 0}

#spilkob{margin: 0 20px 0px 0}

#pristekst {
    padding:
}

#flexkob h2 {
    margin: 0px 0px 0px 0px
}
#flexkob p {
    margin: 0px 0px 0px 0px;
    line-height: 1.44
}
button{margin: 19px 25px 0 0}
.btn-outline-primary:hover{background:  #297AB7;}
.btn-info{background:  grey;}
.btn-info:hover{background: #297AB7 }


/* Footer
-----------------------------------------------------------------------------*/
.footer{background: #010224;
    height:150px 

}
#footerinfo{padding: 30px 0 0 20px; float: left}
#footerinfo h2 {color: white}
#footerinfo p{color: white}
#some{display: flex;
flex-direction: row;
margin-left: auto;
    margin-right: auto;
    width: 260px;
    padding: 45px 0 0 0
}
#fb{width: 60px}
#linkedin{width: 60px}

/*Media@
---------------------------------------------------------------------------*/
/* For width bigger than px: */
@media only screen and (min-width: 240px) {}

@media only screen and (min-width: 360px) {}

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 720px) {}
